
body{
    background-image: url('Bilder/destiny2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

a:visited {
    color: #00fff7;
    background-color: transparent;
    text-decoration: none;
}
#destiny{text-align: center; color: #23ce6d;}
.bakgrund {
    background-color: #773198;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;

    outline: 1px solid #CCC;

    height:auto;
    overflow:auto;
}
p {
    text-align: justify;
    text-indent: 2em;
}


